.button {
  font-size: 1.5em;
  height: 100px;
  width: 100px;
  background-image: linear-gradient(90deg, red, blue);
  border-radius: 100%;
}

.button:hover {
  
  cursor: pointer;
}

body {
  text-align: center;
  background-color: blue;
}

.sidebar {
  background-color: blanchedalmond;
  justify-content: center;
  position: relative;
  float: left;
  height: 500px;
  margin: auto;
  width: 100px;
}

.container {
  height: 600px;
  width: 600px;
  justify-content: center;
  display: inline-flex;
  border: 5px black solid;
  border-radius: 5px;
  font-size: 0;
  margin: 10px auto;
  box-shadow: indigo;
}

.active {
  background-color: black;
}

.cell {
  background-color: white;
}
  
.row {
  width: 100%;
}
  
.hovered {
  background-color: gray;
}

  
  

  
  
  

